body {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;

   
    /* height: 100vh; */
    width: 100%;
    background: #e6e6e6;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
}

.box {
    
    
    border-radius: 25px;
    width: 100%;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.765),
        15px 15px 15px rgba(94, 104, 121, 0.3);
}
.box-2{
    border-radius: 20px;
    width: 30%;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.765),
        15px 15px 15px rgba(94, 104, 121, 0.3);
}

.container{
    
    padding-left: 40px;
    padding-right: 40px;
    
}
